# Next.js
.next

# Dependencies
/node_modules

# Environment variables
/.env.local
/.env.build
/.env.production

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
/build

# Visual Studio Code files
.vscode

.DS_Store

# Next.js build output
.next/
out/

# NPM lockfile
package-lock.json

# Yarn lockfile
yarn.lock

# Editor files
.vscode/
.idea/

# Logs
*.log
*.pack
*.old
